.App {
  text-align: center;
  margin: 0 auto;
}

.inputText {
  padding: 10px;
}

.submitButton {
  padding: 8px 15px;
}

.todoList li {
  width: 10%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
